{% extends 'polls/base.html' %}

{% block content %}
    <div class="container" id="Main">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="well">
                    <h3 class="header text-muted text-center">
                        Polls For Today!
                    </h3>
                    {% if latest_question_list %}
                        <ul class="list-group">
                        {% for question in latest_question_list %}
                            <li class="list-group-item"><a href="{%url 'polls:detail' question.id %}">{{ question.text }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No polls are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block nav_bar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Django Polling App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active"><a href="{% url 'polls:index' %}">Polls</a></li>
                <li><a href="https://github.com/ozknightwalker/Django_Tutorials_OJT_Proof.git">Repo</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

